* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
	font-family: 'IBM Plex Sans', sans-serif;
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}

body {
	font-size: 2.4rem;
	width: 100%;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

a:link,
a:hover,
a:visited {
	color: #501936;
	text-decoration: underline;
}

.wrapper {
  margin: auto;
  width: 100%;
}

.heading {
	font-size: 4.8rem;
	font-family: 'IBM Plex Serif';
}

.body {
 font-size: 2.4rem;
}

.hero {
	background-image: url(images/front-desk.jpg);
	background-color: #501936;
	background-blend-mode: multiply;
	background-size: cover;
	opacity: 0.9;
	width: 100%;
	height: 600px;
	max-width: 100%;
	max-height: 100%;
	padding: 10rem 20rem;
}

.hero__logo {
  display: block;
  width: 22rem;
  max-width: 90%;
}

.hero__text {
	color: white;
	margin-top: 12rem;
	font-size: 6.4rem;
	font-family: 'IBM Plex Serif';
}

.hours {
	background: #91274C;
	text-align: center;
	color: white;
	font-size: 2rem;
	padding: 1.2rem;
}

.tagline {
	position: relative;
	padding: 2rem;
	width: 100%;
	height: 40rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.8rem;
}

.tagline::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1; 
  background-image: url(images/logo-no-text.jpg);
  background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.tagline__text {
	color: #501936;
	max-width: 50rem;
	text-align: center;
	font-family: 'IBM Plex Serif';
}

.food {
	background: #EFDDD8;
	color: #501936;
	padding: 6rem 40rem 0rem 10rem;
	width: 100%;
}

.food * + * {
	margin-top: 2rem;
}

.food-callouts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10rem;
	width: 100%;
	padding: 10rem;
	background: #EFDDD8;
	color: #501936;
}

.callout {
	text-align: center;
	width: 100%;
	max-width: 20rem;
}

.callout__icon {
	width: 6rem;
	fill: #91274C;
}

.callout__heading {
	font-size: 2.4rem;
	text-transform: uppercase;
	margin: 2rem;
}

.callout__text {
	font-size: 1.8rem;
}

.food-images {
	width: 100%;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.food-images img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.story {
	background: #91274C;
	color: white;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.story__content {
	width: 100%;
	padding: 6rem 10rem;
}

.story__content * + * {
	margin-top: 2rem;
}

.story__image {
	width: 100%;
}

.footer {
	background: #EFDDD8;
	color: #501936;
	padding: 6rem 10rem;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
}

.footer__section {
	width: 100%;
}

.footer__section * + * {
	margin-top: 2rem;
}

.footer__heading {
	text-transform: uppercase;
}

.footer__text {
	font-size: 1.8rem;
	font-style: normal;
}

.footer__logo {
	width: 15rem;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	.hero {
		height: 32rem;
		padding: 2.4rem;
	}
	
	.hero__text {
		font-size: 3.6rem;
		margin-top: 3.6rem;
	}
	
	.food {
		padding: 2.4rem;
	}
	
	.food-callouts {
		grid-template-columns: 1fr;
	}
	
	.food-images {
		grid-template-columns: 1fr 1fr;
	}
	
	.story {
		grid-template-columns: 1fr;
	}
	
	.story__content {
		padding: 2.4rem;
	}	
	
	.footer {
		grid-template-columns: 1fr;
	}
	
	.footer__section + .footer__section {
		margin-top: 3.2rem;
	}
}
