html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 32rem;
  max-width: 90%;
}

.info {
  font-size: 1.6rem;
  text-align: center;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
